<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://lkmazqixrlofyhlrmfuq.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrbWF6cWl4cmxvZnlobHJtZnVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyMTgwMjYsImV4cCI6MjA4NDc5NDAyNn0.PfOk-ckfJzgTfbuIXZ5OIsisaQxXXjUYJEzLxSdCpUs</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyAPk6nlaEu6nnUmaI3Cra-LNabotJ5sdDo</string>
</dict>
</plist>
